body {
    font-family: Helvetica,Arial,sans-serif;
    color: #333;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.9);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

 /* For silver text animation */
 .text-animation {
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
 }

 @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
 }

/* End of animation */

.secondPage {
    width: 100wh;
    display: none;
}

header {
    height: 100vh;
    width: 100vh;
}
