body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.color-overlay {
     position: absolute;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.5);
     width: 100%;
     height: 100%;
     z-index: -1;
 }

 #main-page {
     z-index: 100 !important;
     background-color: transparent;
     /* box-shadow: none; */
     width: 60vw !important;
     max-width: 100vw;
     margin-bottom: 80px;
    box-shadow: none;
 }

 .sections {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: 'Open Sans';
    display: flex;

 }
