---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn" id="main-page">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <div id="inbetweenLogoAndTitle"></div>
                    <div class="titleAndBio">
                        <h1 class="title text-animation" id="site-title">
                            <a class="zoombtn" href="{{ site.url }}">
                                {{ site.title }}
                            </a>
                        </h1>
                        <h3 class="title" id="site-bio">
                            <p>CS Junior at UW-Madison  <span style="color:navy; font-size:22px;">|</span>  Web Dev Intern  <span style="color:navy; font-size:22px;">|</span>   Leader</p>
                        </h3>
                    </div>
                    {% include social-links.html %}
            </div>
            <div id="inbetweenSectionsAndSocials"></div>
            <div class="sections">
                <!-- <a style="border-left: 5px solid red" class="btn zoobtn" target="_blank" href="https://drive.google.com/file/d/1wrIWhQ2lVmfdQfkTnEqgGPr3mpo7COkr/view?usp=sharing">
                Resume 📝
                </a> -->
                <a id="resumeBtn" class="btn zoobtn" href="{{ site.url }}/resume">
                    Resume 📝
                </a>
                <a id="aboutBtn" class="btn zoombtn" href="{{ site.url }}/about">
                    About 🧑🏻‍💻
                </a>
                <a id="projectsBtn" class="btn zoombtn" href="{{ site.url }}/projects">
                    Projects (1) 💻
                </a>
                <a id="postsBtn" class="btn zoombtn" href="{{ site.url }}/posts">
                    Posts (16) 💭
                </a>
                <a id="courseReviewsBtn" class="btn zoombtn" href="{{ site.url }}/courses">
                    Course Reviews (1) 📚
                </a>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <div class="secondPage">
        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=tt&d=nW3TX_elJ3eNO1S7sOdBwC6OXnOTssokhN-NZm5ZhgM&co=115383'></script>
    </div>
</body>
</html>
